extends ../layout

include ../includes/_mixins.pug

block content
  +chipPage({href: '/publishers', name: 'Publishers'}, {href: '#', name: 'Update a publisher'})
  .colums
    .card
      .card-header
        h3=title
      .card-body
        form(id="formUpdatePublisher")
          input(type="hidden", name="publisher_id", value=data._id)
          input(type="hidden", name="publisher_rev", value=data._rev)
          .columns
            .column.col-6.col-xl-6.col-lg-12.col-md-12.col-xs-12.col-sm-12
              .col-12.col-xs-12.col-sm-12
                label.form-label(for="publisher_name") Name
              .col-12.col-xs-12.col-sm-12
                input(class="form-input",type="text",id="publisher_name", name="publisher_name", placeholder=data.name, value=data.name)
              .col-12.col-xs-12.col-sm-12
                label.form-label(for="publisher_founders") Founders
              .col-12.col-xs-12.col-sm-12
                input(type="text", name="publisher_founders", id="publisher_founders", class="form-input", placeholder=data.founders, value=data.founders)

            .column.col-6.col-xl-6.col-lg-7.col-md-12.col-xs-12.col-sm-12
              .col-12.col-xs-12.col-sm-12
                label.form-label Foundation Date
              .col-12.col-xs-12.col-sm-12
                input(type="date", name="publisher_foundationdate", class="form-input", value=data.foundationdate)
              .col-12.col-xs-12.col-sm-12
                label.form-label Website
              .col-12.col-xs-12.col-sm-12
                input(type="text", name="publisher_website", class="form-input", placeholder=data.website, value=data.website)

            .column.col-6.col-xl-6.col-lg-6.col-md-12.col-xs-12.col-sm-12
              .col-12.col-xs-12.col-sm-12
                label.form-label(for="publisher_headquarters") Headquarters
              .col-12.col-xs-12.col-sm-12
                input(type="text", name="publisher_headquarters", class="form-input", placeholder=data.headquarters, value=data.headquarters)
      .card-footer
        .columns
          .column.col-3.col-lg-6.col-xs-12.col-sm-12
            .col-12.col-xs-12.col-sm-12
              button(type="submit" class="btn btn-rounded btn-success col-12", id="submitPublisherUpdate") Update
          .column.col-3.col-lg-6.col-xs-12.col-sm-12
            .col-12.col-xs-12.col-sm-12
            a(class="btn btn-rounded btn-default col-12", href="/publishers") Cancel

block append scripts-js
  script(type='text/javascript', src='/javascripts/publishersUpdate.js')
